body{
    margin:auto;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    height: 100vh;
    background-color: black;
    
}
#intro{
    position: absolute;
    top: 0px;
    left:0px;
    width: 100vw;
    height: 100vh;
    color: black;
    z-index:3;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:20px;
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #00f, 0 0 70px #00f, 0 0 80px #00f, 0 0 100px #00f, 0 0 150px #00f;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 35px;
}
form{
    display: flex;
    flex-direction: column;
    gap:20px;
}
label{
    font-size: 16px;
}
#username{
    box-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 3px #fff, 0 0 4px #fff, 0 0 7px #fff, 0 0 8px #fff, 0 0 10px #fff, 0 0 15px #fff;
    font-size: 20px;
    color: black;
    height: 35px;
}
.errMsg{
    box-shadow: 0 0 1px red, 0 0 2px red, 0 0 3px red, 0 0 4px red, 0 0 7px red, 0 0 8px red, 0 0 10px red, 0 0 15px red;
    font-size: 15px;
    color: red;
    visibility: hidden;
   
}
#main{
    display: grid;
   position: relative;
   background-color: black;
}
.container{
    width: fit-content;
    height: fit-content;
    position: relative;
 border: 1px solid white;
 border-radius: 10px;
 padding: 10px;
 padding-top: 55px;
 box-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 3px #fff, 0 0 4px #fff, 0 0 7px #fff, 0 0 8px #fff, 0 0 10px #fff, 0 0 15px #fff;
}
#pacman{
  background-color: black;
}
h1{
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: cursive;
    font-weight: 600;
    color: lightgray;
    font-size: 20px;
}
img{
    margin: 0px;
    display: inline-block;
    vertical-align: middle;
   
}
#gameover{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 50%;
    height: 50%;
    background-color: transparent;
    color: white;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;

}
.overText{
    font-family: fantasy;
    letter-spacing: 2px;
    letter-spacing: 2px;
    font-size: 30px;
    font-weight: 600;
}
#scorecard{
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 150px;
  color: yellow;

}
#player{
   font-weight: 600;
    font-size: 25px;
    font-family: cursive;
}
#points{
    font-weight: 600;
    font-size: 25px;
    font-family: cursive;
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #00f, 0 0 70px #00f, 0 0 80px #00f, 0 0 100px #00f, 0 0 150px #00f;

}
#restartBtn{
    border: 0;
    background-color: #fff;
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #00f, 0 0 70px #00f, 0 0 80px #00f, 0 0 100px #00f, 0 0 150px #00f;
    height: 35px;
    width: 100px;
    border-radius: 2px;
    letter-spacing: 1px;
    visibility: hidden;
}
#viewBtn{
    border: 0;
    background-color: #fff;
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #00f, 0 0 70px #00f, 0 0 80px #00f, 0 0 100px #00f, 0 0 150px #00f;
    height: 35px;
    width: 100px;
    border-radius: 2px;
    letter-spacing: 1px;
    visibility: hidden;
}
#start{
    position: absolute;
    top: 0;
    left:0;
    width: 100vw;
    height:100vh;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:10px;
    z-index: 2;
    

}
#timer{
    position: absolute;
    top: 0px;
    left:0px;
    width: 100%;
    height: 100%;
    color: black;
    z-index: -1;
    background-color: black;
    opacity: 0.8;
}
#clock{
    position: absolute;
    top: 32%;
    left:50%;
    z-index: 3;
    transform: translateX(-50%);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 5px solid yellow;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 35px;
    font-family: cursive;
}
.life{
    position: absolute;
    top: 15px;
    left: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 25px;
    
}
.topimg{
    width: 20px;
    height: 20px;
}
#score{
    color: white;
    font-size: 21px;
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #00f, 0 0 70px #00f, 0 0 80px #00f, 0 0 100px #00f, 0 0 150px #00f;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.scorebox{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap:5px;
    width: 100px;

}
.tile{
    width: 20px;
    height: 20px;
}
#overlay{
    background-color: #423131;
    opacity: 0.5;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    z-index: 2;
}
#players{
    background-color: black;
  width: 323px;
  height: 323px;
  overflow: auto;
  -webkit-overflow-scrolling: touch; 
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -55%);
  display: none;
  flex-direction: column;
  gap: 5px;
  z-index: 3;
  color: white;
  align-items: center;
  border-radius: 5px;
}
#player::-webkit-scrollbar{
    width: 0;
  display: none;
}
.card{
    display: flex;
    gap: 10px;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.playerCard{
    background-color: rgb(173, 171, 171);
    opacity: 0.8;
}
.commonCard{
   
    
}
@media only screen and (max-width: 600px) {
    .container{
     padding: 2px;
     padding-top: 55px;

    }
    #gameover{
        font-size: 15px;
    }
    #start{
        gap:5px;
    }
  }